.site-header .tel_block {
  margin-right: 20px; }

.site-header__address {
  display: none; }

.site-header .logo_block {
  max-width: none; }

.site-header__email {
  display: flex;
  align-items: center !important;
  padding-left: 55px;
  position: relative;
  max-width: 175px;
  min-height: 44px;
  margin-top: 20px; }
  .site-header__email a {
    font: normal 20px 'os';
    color: #2f2f2f;
    text-decoration: none; }
  .site-header__email:before {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    left: 3px;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ff5027;
    border-top-color: #ffa328;
    border-right-color: #ffa328;
    border-bottom-color: #ffa328;
    border-left-color: #ffa328;
    background-image: url(email_02.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center; }

.lng {
  font-size: 0;
  text-align: center; }
  .lng a {
    font-size: 0;
    display: inline-block;
    margin: 0 5px; }
  .lng img {
    vertical-align: top; }

.site_map .footer_contacts {
  padding: 30px 30px; }

@media (min-width: 961px) {
  .site-header .contacts_block {
    padding-top: 20px;
    flex-direction: column; } }

@media (min-width: 768px) {
  .sn_name {
    align-self: center;
    margin-left: 30px; }

  .site-header__logo {
    font: normal 27px/1 'os'; } }

@media (max-width: 768px) {
  .flex_container {
    flex-direction: column; } }

body .site-header__contacts {
  display: inline-block;
  vertical-align: middle; }
  body .site-header__contacts > div {
    display: inline-block;
    vertical-align: middle; }
